div {
    border:1px dashed blue;
}

h1,h2,img {
    border:1px dashed blue;
}

#banner {
    float:left;
    width:100%;
}

#banner * {
    float:left;
}

#banner h1 {
    width:30%;
    float:left;
}

#banner h1.left {
    position:absolute;
    left:1%;
    text-align:left;
}

#banner h1.right {
    position:absolute;
    right:1%;
    text-align:right;
}


#banner h2 {
    width:auto;
    margin:0.5em;
    float:left;
}

#banner img {
    position:absolute;
    left:35%;
    width:30%;
    float:left;
}

div.links {
    float:30%;
    width:30%;
}

#banner div.left {
    position:absolute;
    top:25%;
    left:1%;
    float:left;
    text-align:left;
}

#banner div.right {
    position:absolute;
    top:25%;
    right:1%;
    float:right;
    text-align:right;
}

#banner div.right h2 {
    float:right;
    text-align:right;
}

#submenu {
    position:absolute;
    left:0;
    top:50%;
    width:30%;
}


#blog {
    position:absolute;
    width:30%;
    right:0;
    top:50%;
}


#events {
    position:absolute;
    right:0;
    top:70%;
    width:30%;
}

#content {
    width:40%;
    top:50%;
    left:30%;
    position:absolute;
    
}
